

.resume-container {
	max-width: 1200px;
	margin: 30px auto;
	padding: 20px;
	/* 使用线性渐变作为背景 */
	/* border: 1px solid #ccc; */
	box-shadow:
		5px -5px 80px rgba(255, 170, 255, 0.5),
		-5px 5px 80px rgba(255, 255, 0, 0.5);
	transition: box-shadow 0.3s;
	min-height: 620px;
	box-sizing: border-box;
	
}

.resume-container:hover {
	box-shadow:
		-10px -10px 80px rgba(255, 170, 255, 0.7),
		10px 10px 80px rgba(255, 255, 0, 0.7);
}


.skills {
	margin-bottom: 40px;
	
}

.profile-section {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: center;
}
.hobby-motto{
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	margin-left: 100px;
}
.hobby-size{
	color: #d65049;
}


