*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
#ceshi{
	position: fixed;
	left: 94.5%;
	top: 50%;
	height: 30px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #F4F4F4;
}

/* 背景图 */

.nav{
	position: absolute;
	width: 1240px;
	left: 50%;
	margin-left: -620px;
/*	background: yellow;*/
	height: 82px;
	
	z-index: 1001;
}
.nav-logo{
	float: left;
	width: 125px;	
	height: 80px;
	background: url(../img/魅族1.png) no-repeat;
	background-position: center;
	background-size: 100%;
}
/*<!-- shopping car -->*/
.car{
	position: relative;
	float: right;
	width: 29px;
	height: 29px;
	
	margin-top: 25px;
	overflow: hidden;
}
.car em{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	font-style: normal;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
    background: #c00;
    color: #fff;
    padding: 0 3px;
    font-size: 12px;
}
.car-content{
	position: absolute;
	top: 40px;
	right: 0;
	width: 318px;
	height: 120px;
	background: white;
	color: #999;
    font-size: 12px; 
    padding-top: 40px; 
    padding-left: 40px;
    line-height: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 2px;
}
.car-icon{
	float: left;
	/* background: url(../img/xiong.png) no-repeat; */
	display: inline-block;
    width: 47px;
    height: 42px;
    margin-right: 10px;
    background-size: 100%;
/*    margin-left: 40px;*/
}
.car-text{
	float: right ;
}
.car:hover{
	overflow: visible;
}
/* user */
.user{
	position: relative;
	float: right;
	width: 29px;
	height: 29px;
	margin-top: 25px;
	margin-right: 10px;
	overflow: hidden;
}

.user-content{
	position: absolute;
	right: 0;
	width: 98px;
	background-color: #fff;
    top: 40px;
    left: 50%;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
    margin-left: -48px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    font-size: 12px;
    line-height: 28px;
}
.user-content span{
	float: right;
	margin-top: -30px;
	margin-right: 40px;
	border: 8px solid;
	border-color: transparent transparent white transparent;
}
.user:hover{
	overflow: visible;
}
/* 导航中间 */
.nav-mid{
/*	position: relative;*/
}
.nav-mid-name-1{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-385px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
.sj-hover{
	position: absolute;
	height: 0px;
	background: white;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	transition: all 0.5s;
/*	transition-delay: 0.5s;*/
}
.nav-mid-name-1:hover +.sj-hover{
	
	height: 265px;
}
.sj-hover:hover{
	height: 265px;
}
 
/* 手机hover内容 */
.sj-hover ul{
	position: absolute;
	top: 82px;
	left: 50%;
	margin-left: -620px;
	width: 1240px;
	height: 183px;
/*	background: red;*/
	text-align: center;
}
.sj-hover ul li{
	display: inline-block;
	width: 142px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.sj-hover ul li img{
	width: 120px;
	height: 120px;
}
/* 2 */
.nav-mid-name-2{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-315px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
.sj-hover-2{
	position: absolute;
	height: 0px;
	background: white;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	transition: all 0.5s;
/*	transition-delay: 0.5s;*/
}
.nav-mid-name-2:hover +.sj-hover-2{
	height: 265px;
}
.sj-hover-2:hover{
	height: 265px;
}
.sj-hover-2 ul{
	position: absolute;
	top: 82px;
	left: 50%;
	margin-left: -620px;
	width: 1240px;
	height: 183px;
/*	background: red;*/
	text-align: center;
}
.sj-hover-2 ul li{
	display: inline-block;
	width: 142px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.sj-hover-2 ul li img{
	width: 120px;
	height: 120px;
}
/* 3 */
.nav-mid-name-3{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-205px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
.sj-hover-3{
	position: absolute;
	height: 0px;
	background: white;
	width: 100%;
	z-index: 999;
	overflow: hidden;
transition: all 0.5s;
/*	transition-delay: 0.5s;*/
}
.nav-mid-name-3:hover +.sj-hover-3{
	height: 265px;
}
.sj-hover-3:hover{
	height: 265px;
}
.sj-hover-3 ul{
	position: absolute;
	top: 82px;
	left: 50%;
	margin-left: -620px;
	width: 1240px;
	height: 183px;
/*	background: red;*/
	text-align: center;
}
.sj-hover-3 ul li{
	display: inline-block;
	width: 142px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.sj-hover-3 ul li img{
	width: 120px;
	height: 120px;
}
/* 4 */
.nav-mid-name-4{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-135px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
.sj-hover-4{
	position: absolute;
	height: 0px;
	background: white;
	width: 100%;
	z-index: 999;
	overflow: hidden;
transition: all 0.5s;
/*	transition-delay: 0.5s;*/
}
.nav-mid-name-4:hover +.sj-hover-4{
	height: 265px;
}
.sj-hover-4:hover{
	height: 265px;
}
.sj-hover-4 ul{
	position: absolute;
	top: 82px;
	left: 50%;
	margin-left: -620px;
	width: 1240px;
	height: 183px;
/*	background: red;*/
	text-align: center;
}
.sj-hover-4 ul li{
	display: inline-block;
	width: 142px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.sj-hover-4 ul li img{
	width: 120px;
	height: 120px;
}
/* 5 */
.nav-mid-name-5{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-65px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
/* 6 */
.nav-mid-name-6{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(20px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
/* 7 */
.nav-mid-name-7{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(90px);
	float: right;
	margin-right: 20px;
/*	background: red;*/
	z-index: 1002;
}
/* 8 */
.nav-mid-name-8{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(160px);
	float: right;
	margin-right: 20px;
	z-index: 1002;
}
/* 9 */
/* 8 */
.nav-mid-name-9{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(260px);
	float: right;
	margin-right: 20px;
	z-index: 1002;
}
.sj-hover-9{
	position: absolute;
	height: 0px;
	background: white;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	transition: all 0.5s;
/*	transition-delay: 0.5s;*/
}
.sj-hover-9 img{
	margin-top: 90px;
	margin-left: 140px;
	width: 1240px;
	height: 300px;
}
.nav-mid-name-9:hover +.sj-hover-9{
	height: 420px;
}
.sj-hover-9:hover{
	height: 400px;
}
.search{
	position: relative;
	float: right;
	width: 170px;
	height: 86px;
	line-height: 77px;
	margin-right: 33px;
}
.search input{
	width: 127px;
    height: 30px;
	border-radius: 20px;
	border: 1px solid #ccc;
	margin: 0 20px;
	font-size: 12px;
	padding: 0 20px;
	margin-left: 15px;
	box-sizing: content-box;
	outline: 0;
}
.search i{
	position: absolute;
	top: 33px;
	right: -9px;
	display: inline-block;
	width: 17px;
	height: 14px;
	background: url(../img/2.png);
	background-size: 100%;
	cursor: pointer;
}
.nav-mid-name-1,.nav-mid-name-2,.nav-mid-name-3,
.nav-mid-name-4,.nav-mid-name-5,.nav-mid-name-6,.nav-mid-name-7
,.nav-mid-name-8,.nav-mid-name-9{
	font-size: 14px;
	cursor: pointer;
}
.nav-mid-name-1:hover,.nav-mid-name-2:hover,.nav-mid-name-3:hover,
.nav-mid-name-4:hover,.nav-mid-name-5:hover,.nav-mid-name-6:hover
,.nav-mid-name-7:hover,.nav-mid-name-8:hover,.nav-mid-name-9:hover{
	color: #FF6640;
}